:root {
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --GrayishBlue: hsl(208, 11%, 55%);
  --Pink: hsl(322, 100%, 66%);
}

* {
  margin: 0;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-image: url(images/bg-hero-desktop.svg);
  height: 78vh;
  background-color: var(--VeryPaleCyan);
  display: grid;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin-bottom: 18vh;
  justify-items: center;
  align-items: center;
  align-content: center;
}

h1 {
  color: var(--VeryDarkCyan);
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: var(--VeryDarkCyan);
  display: flex;
  flex-direction: row;
  height: 33rem;
  font-family: "Open Sans", sans-serif;
  font-size: small;
}

.button1:hover {
  background-color: hsla(322, 100%, 66%, 0.5);
  cursor: pointer;
  box-shadow: 0px 0px 0px whitesmoke;
}

.button2:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px;
}

.infoHover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.socialButton:hover {
  background-color: var(--Pink);
  border-color: var(--Pink);
  cursor: pointer;
}

.firstParagraph {
  padding-bottom: 4rem;
}

.growTogheter {
  margin-left: auto;
}

.title {
  margin-bottom: 5vh;
}

.button1 {
  border: none;
  background-color: var(--Pink);
  border-radius: 45px;
  box-shadow: 1px 1px 5px grey;
  padding: 15px;
  width: 15rem;
  color: white;
  margin-top: 2rem;
  margin-bottom: auto;
}

.button2 {
  border: none;
  background-color: white;
  border-radius: 45px;
  box-shadow: 1px 1px 5px var(--GrayishBlue);
  padding: 15px;
  width: 9rem;
  color: var(--VeryDarkCyan);
  margin-bottom: auto;
}

.mockups {
  width: 38rem;
  margin-left: 80px;
}

.headerSectionSx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 84px;
}

.headerSectionDx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 100px;
  align-items: flex-end;
}

.logo1 {
  width: 11rem;
  padding-bottom: 16%;
}

.imgStandard {
  height: 12rem;
}

.containerStandard {
  display: flex;
  flex-direction: row;
  padding: 60px;
  background-color: white;
  box-shadow: 0px 0px 20px whitesmoke;
  border-radius: 8px;
  margin-left: 14rem;
  margin-right: 14rem;
  margin-bottom: 38px;
}

.containerStandard1 {
  display: flex;
  flex-direction: row;
  padding: 60px;
  background-color: white;
  box-shadow: 0px 0px 20px whitesmoke;
  border-radius: 8px;
  margin-left: 14rem;
  margin-right: 14rem;
  margin-bottom: 38px;
}

.containerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: initial;
  font-family: "Poppins", sans-serif;
}

.containerTextS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  font-family: "Poppins", sans-serif;
}

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.communitySection {
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 8px;
  box-shadow: 1px 1px 12px grey;
  padding: 3rem 4rem;
  margin-bottom: -4rem;
  position: relative;
  background-color: white;
  margin-top: 6rem;
}

.iconText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 36px;
  font-size: 11px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}

.logo2img {
  height: 20px;
  margin: 64px 0px 0px 36px;
}

.iconLocation {
  height: 20px;
  display: flex;
  flex-direction: column;
  align-self: baseline;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-bottom: 34px;
  padding-left: 241px;
  font-size: 12px;
}

.infoSx {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-left: auto;
}

.infoDx {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 18rem;
  margin-right: auto;
  color: white;
  margin-block: auto;
  padding-left: 257px;
}

.containerParagraph {
  margin-left: 20px;
}

.iconSocial {
  display: flex;
  flex-direction: row-reverse;
  width: 16rem;
  align-items: baseline;
  padding-bottom: 23px;
}

.socialButton {
  background-color: var(--VeryDarkCyan);
  padding: 4px;
  border-radius: 1rem;
  border-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}

.containerSocial {
  display: flex;
  flex-direction: row;
  align-items: normal;
  margin-top: 10rem;
}

.Copyright {
  margin-top: 16rem;
  width: max-content;
  font-size: 10px;
}

.attribution {
  background-color: var(--VeryDarkCyan);
  color: white;
}

.containerFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.sectionHeader {
  display: flex;
  align-items: flex-end;
}

.headerX {
  display: flex;
  justify-content: center;
}

.huddle {
  display: flex;
  margin-left: 12%;
  margin-bottom: 12%;
  justify-content: flex-start;
  align-items: center;
}

.divButton {
  margin-left: 331%;
}

@media screen and (max-width: 1440px) {
  header {
    height: 179vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 18vh;
    font-size: 17px;
    text-align: center;
  }

  .headerSectionSx {
    display: flex;
    flex-direction: column;
    padding: 32px 10px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  .headerX {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
  }

  .divButton {
    margin-left: 173%;
  }

  .sectionHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .containerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .containerStandard {
    display: flex;
    flex-direction: column-reverse;
    padding: 147px;
    background-color: white;
    box-shadow: 0px 0px 20px whitesmoke;
    border-radius: 8px;
    margin-left: 14rem;
    margin-right: 14rem;
    margin-bottom: 38px;
  }

  .containerStandard1 {
    display: flex;
    flex-direction: column;
    padding: 147px;
    background-color: white;
    box-shadow: 0px 0px 20px whitesmoke;
    border-radius: 8px;
    margin-left: 14rem;
    margin-right: 14rem;
    margin-bottom: 38px;
  }

  footer {
    background-color: var(--VeryDarkCyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48rem;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: small;
  }
  .infoSx {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-left: 0;
  }

  .infoDx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    color: white;
    padding-left: 0;
    margin-block: 0;
    margin-right: 0;
  }
  .containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: baseline;
    color: white;
    padding-bottom: 0px;
    padding-left: 36px;
    font-size: 12px;
  }
  .containerSocial {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin-top: 1rem;
    margin-left: -2rem;
  }
  .Copyright {
    margin-top: 1rem;
    width: max-content;
    font-size: 10px;
    margin-left: -2rem;
  }
  .iconSocial {
    display: flex;
    flex-direction: row-reverse;
    width: 16rem;
    align-items: baseline;
    padding-bottom: 23px;
    margin-left: -1rem;
  }

  .containerText {
    display: flex;
    flex-direction: column;
    margin-left: initial;
    font-family: "Poppins", sans-serif;
    align-items: center;
  }

  .growTogheter {
    margin-left: auto;
    margin-right: auto;
  }

  .containerTextS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    font-family: "Poppins", sans-serif;
    align-items: center;
  }

  .flowing-conversation {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 950px) {
  header {
    height: 106vh;
  }

  .containerStandard {
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 0px 20px whitesmoke;
    border-radius: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 38px;
    align-items: center;
  }
  .containerStandard1 {
    display: flex;
    flex-direction: column;
    padding: 147px;
    box-shadow: 0px 0px 20px whitesmoke;
    border-radius: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 38px;
  }
  .divButton {
    margin-left: 96%;
  }

  .mockups {
    width: 29rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 660px) {
  .divButton {
    margin-left: 25%;
  }

  header {
    font-size: 10px;
    text-align: center;
    height: 100vh;
  }

  .mockups {
    width: 10rem;
  }

  .headerSectionSx {
    display: flex;
    flex-direction: column;
    padding: 32px 10px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  .imgStandard {
    height: 6rem;
    width: 9rem;
  }

  .containerText {
    font-size: 10px;
  }

  .containerTextS {
    font-size: 10px;
  }

  .containerStandard {
    padding: 51px;
  }

  .containerStandard1 {
    padding: 51px;
  }

  .logo1 {
    width: 7rem;
    padding-bottom: 11%;
  }

  .button2 {
    padding: 4px;
    width: 97px;
    height: 26px;
    font-size: 12px;
  }

  .headerX {
    margin-bottom: 3rem;
  }
}
