:root {
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --GrayishBlue: hsl(208, 11%, 55%);
  --Pink: hsl(322, 100%, 66%);
}

* {
  margin: 0;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-image: url(images/bg-hero-desktop.svg);
  height: 50rem;
  background-color: var(--VeryPaleCyan);
  display: grid;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin-bottom: 8rem;
  justify-items: center;
  align-items: center;
  align-content: center;
}

h1 {
  color: var(--VeryDarkCyan);
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: var(--VeryDarkCyan);
  display: grid;
  height: auto;
  font-family: "Open Sans", sans-serif;
}

.button1:hover {
  background-color: hsla(322, 100%, 66%, 0.5);
  cursor: pointer;
  box-shadow: 0px 0px 0px whitesmoke;
}

.button2:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px;
}

.infoHover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.infoHover {
  padding: 3px;
}

.socialButton:hover {
  background-color: var(--Pink);
  border-color: var(--Pink);
  cursor: pointer;
}

.growTogheter {
  margin-left: auto;
}
.button1 {
  border: none;
  background-color: var(--Pink);
  border-radius: 45px;
  box-shadow: 1px 1px 5px grey;
  padding: 15px;
  width: 15rem;
  color: white;
  margin-top: 16px;
}

.button2 {
  border: none;
  background-color: white;
  border-radius: 45px;
  box-shadow: 1px 1px 5px var(--GrayishBlue);
  padding: 15px;
  width: 9rem;
  color: var(--VeryDarkCyan);
  margin-bottom: auto;
  font-weight: bold;
}

.mockups {
  width: 38rem;
}

.headerSectionSx {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 23rem;
  justify-content: center;
}

.headerSectionDx {
  display: flex;
  padding: 0px 49px;
}

.logo1 {
  width: 11rem;
  padding-bottom: 5rem;
}

.imgStandard {
  height: 14rem;
}

.containerStandard {
  display: flex;
  padding: 60px;
  box-shadow: 0px 0px 20px whitesmoke;
  border-radius: 8px;
  margin-left: 14rem;
  margin-right: 14rem;
  margin-bottom: 38px;
}

.containerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: rgb(172, 170, 170);
  width: 24rem;
}

.containerTextS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  font-family: "Poppins", sans-serif;
  color: rgb(172, 170, 170);
  width: 24rem;
}
.community {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.communitySection {
  align-self: center;
  border-radius: 3px;
  box-shadow: 1px 1px 6px whitesmoke;
  padding: 3rem 4rem;
  margin-bottom: -4rem;
  position: relative;
  background-color: white;
  margin-top: 6rem;
}

.iconText {
  display: flex;
  margin: 36px;
  font-size: 11px;
}

.iconContainer {
  color: white;
}

.logo2img {
  height: 20px;
  margin: 64px 0px 0px 36px;
}

.iconLocation {
  height: 20px;
  display: flex;
  flex-direction: column;
  align-self: baseline;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-bottom: 18px;
  font-size: 12px;
  margin: auto;
}

.infoSx {
  display: grid;
  align-items: center;
  margin-left: 88px;
  width: min-content;
}

.infoDx {
  color: white;
  margin-right: 88px;
}

.containerParagraph {
  margin-left: 20px;
}

.iconSocial {
  display: flex;
  flex-direction: row-reverse;
  width: 16rem;
  align-items: baseline;
  padding-bottom: 23px;
}

.socialButton {
  background-color: var(--VeryDarkCyan);
  padding: 4px;
  border-radius: 1rem;
  border-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}

.containerSocial {
  display: flex;
  flex-direction: row;
  align-items: normal;
  margin-top: 15rem;
}

.Copyright {
  margin-top: 16rem;
  width: max-content;
  font-size: 10px;
}

.attribution {
  background-color: var(--VeryDarkCyan);
  color: white;
}

.containerFlex {
  display: flex;
  width: -webkit-fill-available;
}

.sectionHeader {
  display: flex;
  gap: 12rem;
}

.headerX {
  display: flex;
  justify-self: start;
}

.huddle {
  display: flex;
  margin-left: 12%;
  margin-bottom: 12%;
  justify-content: flex-start;
  align-items: center;
}

.divButton {
  margin-left: 56rem;
}

.row-reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1440px) {
  .row-reverse {
    flex-direction: inherit;
  }
  header {
    height: -webkit-fill-available;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8rem;
    font-size: 17px;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .iconText {
    width: 14rem;
  }

  .headerSectionSx {
    padding: 32px 10px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 36rem;
  }

  .headerSectionDx {
    margin-bottom: 5rem;
  }

  .headerX {
    justify-content: center;
    margin-top: 70px;
  }

  .divButton {
    margin-left: 28rem;
  }

  .sectionHeader {
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
  }

  .containerFlex {
    display: grid;
    justify-content: center;
  }

  .containerStandard {
    flex-direction: column-reverse;
    padding: 147px;
  }

  footer {
    align-items: center;
    height: 48rem;
  }
  .infoSx {
    margin-left: 0;
  }
  .containerInfo {
    padding-bottom: 0px;
    margin: 28px;
  }
  .containerSocial {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin-top: 1rem;
    margin-left: -2rem;
  }
  .Copyright {
    margin-top: 1rem;
    margin-left: -5rem;
  }
  .iconSocial {
    margin-left: -1rem;
  }

  .containerText {
    width: auto;
    text-align: center;
  }

  .growTogheter {
    margin-left: auto;
    margin-right: auto;
  }

  .containerTextS {
    width: auto;
    text-align: center;
  }

  .flowing-conversation {
    margin: auto;
  }

  .imgStandard {
    width: 12rem;
    height: 12rem;
  }
}
@media screen and (max-width: 950px) {
  header {
    height: auto;
  }

  .containerStandard {
    display: flex;
    box-shadow: 0px 0px 20px whitesmoke;
    border-radius: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .divButton {
    margin-left: 96%;
  }

  .mockups {
    width: 29rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 660px) {
  .divButton {
    margin-left: 41%;
  }

  .title {
    margin-bottom: 2rem;
    width: 12rem;
  }

  header {
    font-size: 10px;
    text-align: center;
    height: 60rem;
  }

  .mockups {
    width: 15rem;
  }

  .headerSectionSx {
    padding: 96px 10px;
    width: auto;
  }

  .imgStandard {
    height: 6rem;
    width: 9rem;
  }

  .containerText {
    font-size: 10px;
  }

  .containerTextS {
    font-size: 10px;
  }

  .containerStandard {
    padding: 51px;
  }

  .logo1 {
    width: 7rem;
    padding-bottom: 11%;
  }

  .button2 {
    padding: 4px;
    width: 97px;
    height: 26px;
    font-size: 12px;
  }

  .headerX {
    margin-bottom: 0;
    margin-top: 0;
  }

  .firstParagraph {
    padding-bottom: 0;
    width: 16rem;
    font-size: 13px;
  }

  .communitySection {
    width: min-content;
    font-size: 9px;
  }

  .button1 {
    padding: 6px;
    width: 9rem;
    font-size: 10px;
    margin-top: 3rem;
  }
}
